.first{
    font-family:Verdana, sans-serif;;
}
.tech{
    color: #ffc200
}
.second{
    font-family: Merriweather, Georgia, serif;
}
.third{
    font-family: Georgia, serif;
    color: #666;
    font-size: 14px;
    font-style: italic;
}